@model ScenariosExplorer.Models.ScenarioModel

@{
    ViewData["Title"] = Model.Title;
}

@if (Model.Parent != null)
{
    foreach (var ancestor in Model.GetAncestors())
    {
        <span><a href="/scenarios/@ancestor.Id">@ancestor.Title</a> ->&nbsp;</span>
    }
}

<h2>@Model.Title</h2>
<div>
    @Html.ActionLink("Edit", "EditScenario", new { id = Model.Id })
</div>

<div>
    <hr />

    <markdown content="@Model.Contents"></markdown>
</div>

<hr />

@if (Model.ChildrenScenarios.Any())
{
    <h4>Children scenarios</h4>
    @foreach (var item in Model.ChildrenScenarios)
    {
        @Html.Partial("_ScenarioListItem", item)
    }

    <hr />
}

<div>
    @Html.ActionLink("Add child scenario", "AddChildScenario", new { parentId = Model.Id })
</div>

<hr />

<h3>Proposal solutions</h3>

@if (Model.Proposals != null)
{
    @foreach (var p in Model.Proposals)
    {
        @Html.Partial("/Views/Proposals/_ProposalExampleListItem.cshtml", p);
    }
}

<div>
    @Html.ActionLink("Add proposal solution", actionName: "AddProposalExample", controllerName: "Proposals", protocol: null, hostname: null, fragment: "EditForm", routeValues: new { scenarioId = Model.Id }, htmlAttributes: null)
</div>