@model ScenariosExplorer.Models.ProposalExampleModel

@{
    ViewData["Title"] = Model.Info.Title + " - " + Model.ParentScenario.Title;
}

@if (Model.ParentScenario.Parent != null)
{
    foreach (var ancestor in Model.ParentScenario.GetAncestors())
    {
        <span><a href="/scenarios/@ancestor.Id">@ancestor.Title</a> ->&nbsp;</span>
    }
}
<span><a href="/scenarios/@Model.ParentScenario.Id">@Model.ParentScenario.Title</a> ->&nbsp;</span>

<h2>Proposal: @Model.Info.Title for @Model.ParentScenario.Title</h2>

<div>
    <hr />
    <markdown content="@Model.ParentScenario.Contents"></markdown>
</div>

<div>
    <hr />
    <h3 id="solution">Solution <span style="font-size: initial">
    (@Html.ActionLink("Edit", actionName: "EditProposalExample", controllerName: "Proposals", protocol: null, hostname: null, fragment: "EditForm", routeValues: new { scenarioId = Model.ParentScenario.Id, proposalId = Model.ProposalId }, htmlAttributes: null))
          </span>
    </h3>
    <markdown content="@Model.Contents"></markdown>
</div>

<hr />